{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}

{% set showInputs = config('TeuPropertyRangeSlider.config.showInputs') != false %}

{% if name == 'price' %}
    {% set sliderEnabled = config('TeuPropertyRangeSlider.config.enablePriceSlider') != false %}
    {% set step = 0 + config('TeuPropertyRangeSlider.config.PriceSliderSteps') %}
    {% set showDecimals = config('TeuPropertyRangeSlider.config.ShowPriceSliderDecimals') != false %}
    {% if showDecimals %}
        {% set decimals = 2 %}
    {% else %}
        {% set decimals = 0 %}
    {% endif  %}

    {% set min = price.min|round(decimals,'floor') %}
    {% set max = price.max|round(decimals,'ceil') %}

    {% set priceMin = 0 + price.min | round(decimals) %}

    {% if not sliderEnabled and not showInputs %}
        {% set showInputs = true %}
    {% endif %}

    {% if showDecimals %}
        {% set labelMin = priceMin | currency() %}
    {% else %}
        {% set labelMin = priceMin | currency() | slice(0, -3) %}
    {% endif %}

    {% set priceMax = 0 + price.max | round(decimals) %}

    {% if showDecimals %}
        {% set labelMax = priceMax | currency() %}
    {% else %}
        {% set labelMax = priceMax | currency() | slice(0, -3) %}
    {% endif %}
    {% set symbolPosition = 'prefix' %}
{% else %}
    {% set sliderEnabled = true %}
    {% set min = 1000000000 %}
    {% set max = 0 %}

    {% if property.customFields.teu_cat_prop_rangeslider_decimals %}
        {% set decimals = property.customFields.teu_cat_prop_rangeslider_decimals %}
    {% else %}
        {% set decimals = 0 %}
    {% endif %}

    {% if property.customFields.teu_cat_prop_rangeslider_steps %}
        {% set step = 0 + property.customFields.teu_cat_prop_rangeslider_steps %}
    {% endif %}

    {% set reverseOptions = options | reverse %}
    {% for option in options %}
        {% set value = option.translated.name | number_format(decimals,".",'') %}

        {% if value < min %}
            {% set min = value %}
        {% endif %}

        {% if value > max %}
            {% set max = value%}
        {% endif %}
    {% endfor %}

    {% for option in reverseOptions %}
        {% set value = option.translated.name | number_format(decimals,".",'') %}

        {% if value < min %}
            {% set min = value %}
        {% endif %}

        {% if value > max %}
            {% set max = value %}
        {% endif %}
    {% endfor %}

    {% set labelMin = min ~ unit %}
    {% set labelMax = max ~ unit %}
    {% set symbolPosition = 'suffix' %}
{% endif %}

{% if step == 0 %}
    {% set step = 1 %}
{% endif %}

{% if step >= 1 and (min%step) != 0 %}
    {% set steps = (min/step)|round(0,'floor') %}
    {% set minRange = step * steps %}
{% else %}
    {% set minRange = min %}
{% endif %}

{% if step >= 1 and (max%step) != 0 %}
    {% set steps = (max/step)|round(0,'ceil') %}
    {% set maxRange = step * steps %}
{% else %}
    {% set maxRange = max %}
{% endif %}


{% block component_filter_range %}
    {% if name != 'price' %}
        {% set filterRangeOptions = filterRangeOptions|merge({
            snippets: {
                filterRangeActiveMinLabel:  'teu.multiRangeSlider.activeMinLabel' | trans({'%property%': displayName}) | sw_sanitize,
                filterRangeActiveMaxLabel: 'teu.multiRangeSlider.activeMaxLabel' | trans({'%property%': displayName}) | sw_sanitize,
                filterRangeErrorMessage: 'teu.multiRangeSlider.errorMessage' | trans({'%property%': displayName}) | sw_sanitize
            }}) %}
    {% endif %}
    {% set filterRangeOptions = filterRangeOptions|merge({
        currency: context.currency.isoCode,
        locale: app.request.getLocale(),
    }) %}
    {{ parent() }}
{% endblock %}

{% block component_filter_range_container %}
    {% if sliderEnabled %}
        <div>
            {% if  property.customFields.teu_cat_prop_rangeslider_useSingleRange %}
                {% include('storefront/component/listing/filter/filter-single-range.html.twig') with {
                    options: {
                        min: min,
                        max: min,
                        step: step,
                        minRange: minRange,
                        maxRange: maxRange,
                        param: name,
                        name: name,
                        symbolPosition: symbolPosition,
                        unit: unit,
                        decimals: decimals,
                        trackColor: config('TeuPropertyRangeSlider.config.trackColor'),
                        knobColor: config('TeuPropertyRangeSlider.config.knobColor'),
                    },
                    labels: {
                        min: labelMin,
                        max: labelMax
                    }
                } %}
            {% else %}
                {% include('storefront/component/listing/filter/filter-multi-range.html.twig') with {
                    options: {
                        min: min,
                        max: max,
                        step: step,
                        minRange: minRange,
                        maxRange: maxRange,
                        param: name,
                        name: name,
                        symbolPosition: symbolPosition,
                        unit: unit,
                        decimals: decimals,
                        trackColor: config('TeuPropertyRangeSlider.config.trackColor'),
                        knobColor: config('TeuPropertyRangeSlider.config.knobColor'),
                    },
                    labels: {
                        min: labelMin,
                        max: labelMax
                    }
                } %}
            {% endif %}
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%  endblock %}

{% block component_filter_range_min_label %}
    {% if showInputs %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_filter_range_min_unit %}
    {% if showInputs %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_filter_range_min_input %}
    <input class="form-control min-input"
           type="{% if showInputs %}number{% else %}hidden{% endif %}"
           name="{{ minKey }}"
           min="{{ minRange }}"
           max="{{ maxRange }}"
           placeholder="{{ minRange | format_number({fraction_digit: decimals}) }}"
    >
{% endblock %}

{% block component_filter_range_divider %}
    {% if showInputs %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_filter_range_max_label %}
    {% if showInputs %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_filter_range_max_unit %}
    {% if showInputs %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_filter_range_max_input %}
    <input class="form-control max-input"
           type="{% if showInputs %}number{% else %}hidden{% endif %}"
           name="{{ maxKey }}"
           min="{{ minRange }}"
           max="{{ maxRange }}"
           placeholder="{{ maxRange | format_number({fraction_digit: decimals}) }}"
    >
{% endblock %}
