{% sw_extends '@Storefront/storefront/component/buy-widget/configurator.html.twig' %}


{% block buy_widget_configurator_group %}
    {% if group.customFields.teu_cat_prop_rangeslider_displayForConfigurator == 'select' %}
        <div class="product-detail-configurator-group">
            {% sw_include '@Storefront/storefront/page/product-detail/configurator/select.html.twig' %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block buy_widget_configurator_option %}
    {% if displayType == 'multi-range' %}
        {%  set displayType = group.customFields.teu_cat_prop_rangeslider_displayForConfigurator %}
    {% endif %}

    {{ parent() }}
{% endblock %}