{% block sw_property_detail_base %}
    <div>
        {% parent() %}

        {% block sw_property_multi_range_base %}
            <sw-card v-if="propertyGroup.displayType==='multi-range'" title="Multi-range options" :isLoading="isLoading">
                {% block sw_property_multi_range_options %}
                        <sw-container columns="repeat(2fr)"  gap="0px 30px">
                                <sw-alert variant="info">
                                        {{ $tc('sw-property.detail.emptyOptionInfo') }}
                                </sw-alert>
                        </sw-container>
                    <sw-container columns="repeat(2, 1fr)"  gap="0px 30px">
                        {% block sw_property_multi_range_options_key %}
                            <sw-text-field
                                 v-model:value="key"
                                type="text"
                                required
                                :error="propertyGroupNameError"
                                :label="$tc('sw-property.detail.labelKey')"
                                :placeholder="$tc('sw-property.detail.placeholderKey')" />
                        {% endblock %}
                        {% block sw_property_multi_range_options_unit %}
                            <sw-text-field
                                    v-model:value="unit"
                                type="text"
                                required
                                :error="propertyGroupNameError"
                                :label="$tc('sw-property.detail.labelUnit')"
                                :placeholder="$tc('sw-property.detail.placeholderUnit')" />
                        {% endblock %}
                    </sw-container>
                    <sw-container columns="repeat(2, 1fr)"  gap="0px 30px">
                        {% block sw_property_multi_range_options_steps %}
                            <sw-number-field
                                v-model:value="steps"
                                :error="propertyGroupNameError"
                                :label="$tc('sw-property.detail.labelSteps')"
                                :placeholder="$tc('sw-property.detail.placeholderSteps')" />
                        {% endblock %}
                        {% block sw_property_multi_range_options_decimals %}
                            <sw-number-field
                                v-model:value="decimals"
                                :error="propertyGroupNameError"
                                :label="$tc('sw-property.detail.labelDecimals')"
                                min="0"
                                max="4"
                                :placeholder="$tc('sw-property.detail.placeholderDecimals')" />
                        {% endblock %}
                    {% block sw_property_multi_range_options_displayForConfigurator %}
                            <sw-container columns="repeat(1fr)"  gap="0px 30px">
                                    <sw-select-field :label="$tc('sw-property.detail.labelDisplayForConfigurator')" v-model:value="displayForConfigurator">
                                            <option value="text">Text</option>
                                            <option value="select">Dropdown</option>
                                    </sw-select-field>
                            </sw-container>
                    {% endblock %}
                    {% block sw_property_multi_range_options_single %}
                            <sw-switch-field
                                    v-model:value="useSingleRange"
                                    :error="propertyGroupNameError"
                                    :label="$tc('sw-property.detail.labelSingle')"
                            />
                    {% endblock %}
                    </sw-container>
                {% endblock %}
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
