.range-slider {
    width: calc(100% - 32px);
    margin: 40px 16px 0;

    &>input {
        &:nth-of-type(2),
        &:nth-of-type(1)
        {
            & + output {
                white-space: nowrap;
            }
        }
    }
}

/*.filter-panel-active-container {
    margin: 0 auto;
    span.filter-active {
        display: none;
    }
}

.filter-panel-item {
    min-width: 40%;
}
.filter-panel.open-filters .dropdown-menu {
    width: 100%;
}*/
