{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_item_properties %}
    {# @var properties \Shopware\Core\Framework\DataAbstractionLayer\Search\AggregationResult\Metric\EntityResult #}
    {% set properties = listing.aggregations.get('properties') %}

    {% if not properties.entities is empty %}
        {% for property in properties.entities %}
            {% if property.displayType == 'multi-range' and property.options|length > 1 %}
                {% set keyName =  property.customFields.teu_cat_prop_rangeslider_key %}
                {% if keyName == null %}
                    {%  set keyName = property.name | lower | preg_replace('/[^[:alnum:]]/', '') %}
                {% endif %}
                {% sw_include '@Storefront/storefront/component/listing/filter/filter-range.html.twig' with {
                    sidebar: sidebar,
                    options: property.options,
                    name: keyName,
                    minKey: 'min-' ~ keyName,
                    maxKey: 'max-' ~ keyName,
                    unit: property.customFields.teu_cat_prop_rangeslider_unit,
                    displayName: property.translated.name,
                    propertyName: property.translated.name
                } %}
            {% else %}
                {% sw_include '@Storefront/storefront/component/listing/filter/filter-property-select.html.twig' with {
                    elements: property.options,
                    sidebar: sidebar,
                    name: 'properties',
                    displayName: property.translated.name,
                    propertyName: property.translated.name,
                    displayType: property.displayType,
                    pluginSelector: 'filter-property-select',
                } %}
            {% endif %}

        {% endfor %}
    {% endif %}
{% endblock %}
